/* /styles/globals.css */

@import "tailwindcss";

:root {
    --peach: #FCCFB2;
    --pink: #FFCADA;
    --cyan: #6CD0D0;
    --lime: #B1DDC9;
}

.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
}

.btn-shine:hover::before {
  animation: shine 0.75s ease-out;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
